---
import type { Shortcut } from '../models/Shortcut';
import Accordion from './Accordion.astro';

export interface Props {
  shortcut: Shortcut;
}

const { shortcut } = Astro.props;

---
<div class="flex flex-col
  min-w-fit flex-grow
  frosted-glass rounded-xl
">
  <div class="w-full bg-gray-100/60 dark:bg-slate-800/60 rounded-t-xl p-2 md:p-4">
    <p class="mt-1 text-lg md:text-xl font-bold text-center">
      {shortcut.icon_classes && <i class={shortcut.icon_classes}></i>}
      {shortcut.name}
    </p>
  </div>
  <div class="p-4 md:p-5 flex flex-col divide-y divide-gray-200 dark:divide-gray-700">
    {(shortcut.children as Shortcut[]).map(sh => {
      if (sh.children && sh.children.length > 0)
        return (
          <Accordion title={sh.name} icon_classes={sh.icon_classes}>
            <div class="flex flex-col justify-center items-center w-4/5 mx-auto
              divide-y divide-gray-200 dark:divide-gray-700
            ">
              {sh.children.map(shChild => (
                <a href={shChild.url} class="inline-flex justify-center items-center py-3 px-4 w-full
                hover:text-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-600 dark:hover:text-blue-600
                  first:border-t first:border-gray-200 dark:first:border-gray-700
                ">
                  {shChild.icon_classes && <i class={shChild.icon_classes}></i>}
                  {shChild.name}
                </a>
              ))}
            </div>
          </Accordion>
        );
      else
        return (
          <a href={sh.url} class="inline-flex justify-center items-center py-3 px-4
          hover:text-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-600 dark:hover:text-blue-600
          ">
            {sh.icon_classes && <i class={sh.icon_classes}></i>}
            {sh.name}
          </a>
        );
    })}
  </div>
</div>
